.container {
  background: white;
  border-bottom: 1px solid var(--grey-light-2);
}

.container-inner {
  width: var(--messages-max-w);
  max-width: var(--message-max-w);
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  column-gap: 2rem;
}

.assistant-bg {
  background: var(--grey-light-1);
}

.dark-theme {
  color: var(--text-white);
  background: var(--grey-dark-2);
  border-color: var(--grey-light-transparent-1);
}

.dark-theme.assistant-bg {
  background: var(--grey-dark-1);
}

.icon {
  align-self: flex-start;
  width: 32px;
  height: 32px;
}

.message-text {
  min-width: 0;
  flex-grow: 1;
  line-height: 1.6;
}
.error {
  white-space: pre-wrap;
  color: var(--text-error-light-theme);
}
.error-dark {
  white-space: pre-wrap;
  color: var( --text-error-dark-theme);
}

.codeblock {
  padding: 1rem;
  border-radius: 6px;
}
.inline-codeblock {
  padding: 0.2rem;
  border-radius: 2px;
}
.codeblock-inner {
  white-space: pre-line;
}

.buttons-container {
  display: flex;
}
.action-button {
  align-self: flex-start;
  width: fit-content;

  padding: 0;
  margin-right: 4px;
}

.tokens {
  margin-top: 1rem;
  text-align: center;
}

.editing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.editing-container textarea {
  width: 100%;
  line-height: 1.6;
  background: none;
  border: none;
  resize: none;
}
.editing-container.dark-theme textarea {
  color: var(--text-white);
}
.editing-container textarea:focus {
  outline: none;
}

.editing-container button {
  padding: 0.6rem 0.8rem;
  margin-top: 1rem;
  margin-right: 0.5rem;

  font-size: 0.9rem;

  border: 1px solid var(--grey-light-2);
  border-radius: 4px;
}
.editing-container.dark-theme button {
  color: var(--text-white);
  border-color: var(--grey-light-transparent-1);
}
.save-edit-btn {
  color: white;
  background: var(--button-green);
  border: none;
}

@media (max-width: var(--small-screen)) {
  .container-inner {
    min-width: 0;
  }
}
