.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--modal-overlay);
  z-index: 99;
}

.container {
  min-width: min(80%, calc(var(--large-screen)*0.8));
  max-width: var(--large-screen);

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0 80px;
}

@media (max-width: 768px) {
  .container {
    margin: 0.6rem;
  }
}