.container {
  position: fixed;
  top: 0;
  bottom: 0;
  width: var(--sidebar-w);
  padding: 0.5rem 0;
  background: var(--grey-dark-3);

  display: flex;
  flex-direction: column;

  z-index: 1;
}
/* Hide chat scroll */
.container:not(:hover) .chats-container::-webkit-scrollbar-thumb {
  background: transparent;
}
.container:not(:hover) .chats-container {
  scrollbar-color: transparent transparent;
}

.top-buttons {
  width: 100%;
  display: flex;
  margin-bottom: 1rem;
  padding: 0 0.7rem;
}
.top-buttons button:hover{
  background: var(--grey-dark-2);
}

.new {
  padding: 0.8rem;
  flex-grow: 1;

  text-align: left;
  color: var(--text-white);
  font-size: 0.875rem;
  white-space: pre-wrap;

  background: var(--grey-dark-3);
  border: 1px solid var(--grey-light-transparent-1);
  border-radius: 6px;
}

.settings {
  padding: 0.8rem;
  margin-left: 0.3rem;
  border: 1px solid var(--grey-light-transparent-1);
  border-radius: 6px;
}
.settings img {
  height: 18px;
  width: 18px;
}

.date-label {
  margin-top: 0.5rem;
  padding-left: 0.1rem;
  color: var(--text-grey-2);
  font-size: 0.875rem;
}

.search {
  position: relative;
  margin-bottom: 1rem;
  padding: 0 0.7rem;
  width: 100%;
}
.search input{
  width: 100%;
  padding: 0.5rem 0.8rem;
  padding-right: 1.8rem;

  color: var(--text-white);

  background: var(--grey-dark-2);
  border: 1px solid var(--grey-light-transparent-1);
  border-radius: 6px;
}
.search input::placeholder {
  color: var(--text-grey);
}
.search input:focus {
  outline: var(--blue-focus-outline);
}
.search button {
  position: absolute;
  height: 100%;
  top: -1px;
  right: 1rem;

  color: var(--text-white);
  font-size: 1rem;
}

.chats-container {
  padding: 0 0.7rem;
  flex-grow: 1;
  overflow-y: scroll;
  @supports not selector(::-webkit-scrollbar) {
    scrollbar-width: thin;
    scrollbar-color: var(--grey-light-2) var(--grey-dark-3);
  }
}
.chats-container::-webkit-scrollbar {
  width: 6px;
}
.chats-container::-webkit-scrollbar-thumb {
  border-radius: 6px;
}
.chats-container::-webkit-scrollbar-thumb {
  background: var(--grey-light-2);
}
.chats-container::-webkit-scrollbar-track {
  background: var(--grey-dark-3);
}

.by-section {
  margin-top: 0.3rem;
  padding: 0.3rem 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--text-white);

  border-top: 1px solid var(--grey-light-transparent-1);
}
.by-section img {
  margin-left: 0.5rem;
  width: 24px;
  height: 24px;

  cursor: pointer
}

@media (max-width: 336px) {
  .container {
    width: var(--sidebar-w-tiny-screen);
  }
}