.container {
  width: var(--sidebar-w);
  padding: 0.5rem 0.7rem;
  background: var(--grey-dark-3);
}

.top-buttons {
  width: 100%;
  display: flex;
  margin-bottom: 1rem;
}

.new {
  padding: 0.8rem;
  flex-grow: 1;

  text-align: left;
  color: var(--text-white);
  font-size: 0.875rem;
  white-space: pre-wrap;

  background: var(--grey-dark-3);
  border: 1px solid var(--grey-light-transparent-1);
  border-radius: 6px;
}

.settings {
  padding: 0.8rem;
  margin-left: 0.3rem;
  border: 1px solid var(--grey-light-transparent-1);
  border-radius: 6px;
}
.settings img {
  height: 18px;
  width: 18px;
}

.date-label {
  margin-top: 0.5rem;
  padding-left: 0.1rem;
  color: var(--text-grey-2);
  font-size: 0.875rem;
}

.search {
  position: relative;
  margin-bottom: 1rem;
  width: 100%;
}
.search input{
  width: 100%;
  padding: 0.5rem 0.8rem;
  padding-right: 1.8rem;

  color: var(--text-white);

  background: var(--grey-dark-2);
  border: 1px solid var(--grey-light-transparent-1);
  border-radius: 6px;
}
.search input::placeholder {
  color: var(--text-grey);
}
.search input:focus {
  outline: var(--blue-focus-outline);
}
.search button {
  position: absolute;
  height: 100%;
  top: -1px;
  right: 0.5rem;

  color: var(--text-white);
  font-size: 1rem;
}